/* .container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3498db, #2c3e50);
  padding: 20px; /* Add padding for better spacing */
}

/* .heading */
.heading {
  font-size: 48px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold; /* Make heading bold */
}

/* .description */
.description {
  font-size: 20px;
  color: #110d0d;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold; /* Make description bold */
}

/* .button-container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* .button */
.button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* .button:hover */
.button:hover {
  background-color: #219653;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
